tr.archived {
	color: #BBB;
	font-style: italic;
	font-weight: normal;
}

a.archived {
	color: #BBB;
	font-weight: normal;
}

span.archived{
	color: #BBB;
	font-style: italic;
	font-size: 0.8em;
}

#subs td{
	padding: 5px;
	font-size: 11px;
}
table.logtable>thead{
	background-color: transparent;
	color: #000;
	cursor: pointer;
}
table.logtable>tbody>tr>td {
	padding: 5px;
	line-height: 1.42857143;
	vertical-align: top;
	border-top: 1px solid #ddd;
}

table.logtable>thead:first-child>tr:first-child>th {
	border-top: 0px;

}

table.logtable>thead>tr>th {
	vertical-align: bottom;
	border-bottom: 2px solid #ddd;
	padding: 8px;
	line-height: 1.42857143;
	vertical-align: top;
	border-top: 1px solid #ddd;
}

table.logtable {
	width: 100%;
}
